{%- extends 'full.tpl' -%}

{% block body %}
<a href="https://mybinder.org/v2/gh/defeo/jupyter/master?filepath={{ resources.filename }}"
   style="font-size:200%">Run in Binder</a>

{{ super() }}
{% endblock %}
